@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color: #fff;
        background-color: rgb(4, 7, 12);
    }
}
@layer components {
    .menulink{
        @apply cursor-pointer hover:text-[#c5c5c5];
    }
    .tags{
        background-color:darkorange;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: #fff;
        font-size: 12px;
    }
    .tags:last-child{
        margin-right: 0;
    }
    .tags:nth-child(2){
        background-color:darkgray ;
    }
    .tags:nth-child(3){
        background-color:darkcyan ;
    }
    .tags:nth-child(4){
        background-color:cornflowerblue ;
    }
}